aiohttp==2.3.9
asteval==0.9.11
async-timeout==2.0.0
asyncio==3.4.3
attr==0.3.1
attrs==17.4.0
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
cycler==0.10.0
dice==2.1.1
discord==0.0.2
discord.py==1.0.0a1426+g8de382f
docopt==0.6.2
flake8==3.5.0
flake8-docstrings==1.3.0
flake8-polyfill==1.0.2
idna==2.6
matplotlib==2.1.2
mccabe==0.6.1
multidict==4.0.0
numpy==1.14.0
pew==1.1.2
Pillow==5.0.0
pipenv==9.0.3
psutil==5.3.1
pycodestyle==2.3.1
pycparser==2.18
pydocstyle==2.1.1
pyflakes==1.6.0
PyNaCl==1.0.1
pyparsing==2.2.0
python-dateutil==2.6.1
python-Levenshtein==0.12.0
pytz==2017.3
requests==2.18.4
scipy==1.0.0
six==1.11.0
snowballstemmer==1.2.1
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
websockets==3.4
yarl==1.1.0
youtube-dl==2018.2.11
